:root{
    --paragraf-text-color:#f4f4fd;
    --button-text-color:#4d5ae5;
    --icon-bg-color: #4d5ae5;
    --svg-fill-color:#f4f4fd;
    --label-color:#8E8F99;
    --label-check-color: #404bbf;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

ul, 
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;    
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-logo-web {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.nav-logo-studio {
    color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.active {
    position: relative;
    color: #404BBF;
}

.active::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
    transition: olor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.hero-section {
    max-width: 1440px;
    background: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
} 

.hero-header {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    height: 120px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.04em;
    background: var(--button-text-color);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, 
.button:focus {
    background-color: #404bbf;
}

.section-auor {
    background: #FFF;
    padding: 120px 0 120px;
}

.card-wrap {
    text-align: center;
    padding: 32px 0 32px;
}

.section-portfolio .ul-list {
    row-gap: 48px;
}

.section-portfolio .card-wrap {
    padding: 32px 16px;
    text-align: start;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.ul-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.time {
    background-color:  #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
} 

.icon-a:hover,
.icon-a:focus {
    background-color: #404bbf;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px inset #8E8F99;
}

.time {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.third-heading {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-auor-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.section-ourteam {
    background: #F4F4FD;
    padding: 120px 0;
}

.second-heading {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-ourteam-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    
}

.icon-list-item {
    width: 40px;
    height: 40px;
}

.icon-a {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg {
    fill: var(--svg-fill-color);
    /* margin-: 16px;  */
}

.section-portfolio {
    color: #F4F4FD;
    padding: 120px 0;
}

.li-list {
    flex-basis: calc((100% - 3 * 24px) / 4); 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.li-list:hover
.cover-text {
    transform: translateY(0%);
}

.cover-wrap {
    position: relative;
    overflow: hidden;
}

.cover-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraf-text-color);
    position: absolute;
    top: 0;
    background-color: var(--icon-bg-color);
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.basement {
    background: #2E2F42;
    padding: 100px 0;
}

.basement-logo-web {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
}

.basement a {
    margin-bottom: 16px;
}

.footer-global {
    display: flex;
    align-items: baseline;
    align-items: center;
    gap: 120px;
    align-items: baseline;
}

/* .footer-container {
    margin-right: 120px;

} */

.basement-logo-studio {
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.basement-text {
    color: var(--paragraf-text-color);
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/* .footer-icons {
    width: 208px;
    height: 80px;
    flex-shrink: 0;
} */

 .food-icon-list-item {
    width: 40px;
    height: 40px;
    
}

.footer-icons-text {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.food-icon-list {
    display: flex;
    gap: 16px;
    
}

.icon-a-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--icon-bg-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-a-footer:hover,
.icon-a-footer:focus {
    background-color: #31D0AA;
}

.subscribe-paragraf {
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.footer-form-input::placeholder {
color: #ffffff;
}

.footer-form-submit {
    min-width: 165px; 
    width: 165px;
    height: 40px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    /* gap: 16px; */
    border-radius: 4px;
    border: none;
    background: #4D5AE5;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* min-width: 165px; */
    /* height: 40px; */
    /* border: none; */
    /* color: #ffffff; */
    /* background-color: #4D5AE5; */
    /* font-family: "Roboto", sans-serif; */
    /* font-size: 16px; */
    /* font-weight: 500; */
    /* line-height: 1.5; */
    /* letter-spacing: 0.04em; */
    /* cursor: pointer; */
    /* border-radius: 4px; */
    /* margin: 0 auto; */
    /* transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */

.footer-form-submit:hover,
.footer-form-submit:focus {
    background-color: #404BBF;
}

.footer-form-svg {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    fill: #ffffff;
}

.backdrop {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    padding: 72px 24px 24px;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    /* transform: translate(-50%, -50%) scale(1); */
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
    fill: #ffffff;
}

.modal-paragraf {
    margin-bottom: 16px;
    min-width: 360px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.modal-field {
    width: 100%;
    height: 100%;
    top: 0;
    margin-bottom: 8px;
}

.modal-lable {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--label-color);
    display: block;
    margin-bottom: 4px
}

.modal-wrap {
    position: relative;
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--icon-bg-color);
  }

.modal-input:focus + .modal-icons {
    fill: var(--icon-bg-color);
  }

.modal-icons {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.modal-field-area {
    margin-bottom: 16px;
}


.form-div-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--label-color);
    display: block;
    margin-bottom: 4px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    /* border-color: var(--icon-bg-color); */
    border-color: #4D5AE5; 
  }

.form-div-checkbox {
    margin-bottom: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--label-color);
}

.check-label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.privacy-href {
    color: #4d5ae5;;
    display: inline-block;
}

.input-place-check {
    width: 100%;
}

.input-place-check:focus {
    border-color: #4D5AE5;
}

.input-place-check:checked + .user-privacy .privacy-href {
    background-color: var(--label-check-color);
    border: none;
    fill: var(--svg-fill-color);
  }

.input-place-check:checked+.form-check-label .check-label-span {
    background-color: var(--label-check-color);
    border: none;
    fill: var(--svg-fill-color);
}

/* .check-svg {
    top: 50%;
    transform: translateY(-50%);
} */

.form-button-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button-submit:hover,
.form-button-submit:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}